
.css-rhsghg.client-image{
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.css-u30lmt.review {
    font-weight: 400;
    font-size: 1.02rem;
    line-height: 1.5;
    color: #4d4a4a;
    font-family: 'Jost', sans-serif;
}

.css-1qw96cp {
    padding: 20px;

}
.review-bottom{
    padding: 10px 20px 20px;
}
.review-bottom div{
    margin-left: 15px;
}
.css-s18byi {
    height: 315px;
}
.css-t1nuxs {
    font-weight: 700;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #c9b47f;
    font-family: 'Jost', sans-serif; 

}
.review-bottom span{
    color: #e0be68;
}
@media screen and (max-width: 668px){
    .css-r40f8v-MuiTypography-root.review {
        font-size: 0.8rem;
    }
    .css-h93ljk-MuiTypography-root.client-name {
        font-size: 1rem;
    
    }
}