.css-1kvaj0b.dashboard-header{
    background-color: #c9b47f;
    color: #312e2e;
    

}
header.css-zxtyt4-MuiPaper-root-MuiAppBar-root .css-8u39c-MuiTypography-root{
    font-family: 'Jost', sans-serif;
}
.dashboard-menu .menu-item .css-b7766g{
    display: block;
    margin: auto;
    font-weight: 700;
}