header.css-zxtyt4-MuiPaper-root-MuiAppBar-root{
    background-color: #c9b47f;
    color: #312e2e;
    

}
header.css-zxtyt4-MuiPaper-root-MuiAppBar-root .css-8u39c-MuiTypography-root{
    font-family: 'Jost', sans-serif;
}
.dashboard-menu .css-1y942vo-MuiButtonBase-root-MuiButton-root{
    display: block;
    margin: auto;
}